<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{get @clientsList '0.name'}}</td>
    <td>{{get @clientsList '0.company_name'}}</td>
    <td>{{get @clientsList '0.phone_number'}}</td>
    <td>{{get @clientsList '0.email'}}</td>
    <td>
      <LinkTo @route="client.view" @model={{get @clientsList '0.id'}}>View</LinkTo> | Edit | Delete
    </td>
  </tr>
  <ClientTable::Row @client={{get @clientsList 1}}/>
  <ClientTable::Row @client={{get @clientsList 2}}/>
  </tbody>
</table>
{{yield}}